<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.works.mapper.DomainMapper">
    <resultMap id="domain" type="com.works.entity.DomainEntity">
        <result property="domainId" column="domain_id" />
        <result property="domainExternalKeu" column="domain_external_key" />
        <result property="domainAddress" column="domain_address" />
        <result property="domainDescription" column="domain_description" />
    </resultMap>

    <select id="getDomainCount" resultType="int">
        SELECT COUNT(*)
        FROM Domain
        WHERE domain_id = #{domainId};
    </select>

</mapper>