<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.works.mapper.UserMapper">
    <resultMap id="user" type="com.works.entity.UserEntity">
        <result property="userId" column="user_id" />
        <result property="domainId" column="domain_id" />
        <result property="account" column="account" />
        <result property="userName" column="user_name" />
        <result property="userExternalKey" column="user_external_key" />
        <result property="authentication" column="authentication" />
        <result property="cellPhone" column="cell_phone" />
        <result property="email" column="email" />
        <result property="corporationAddress" column="corporation_address" />
        <result property="hireDate" column="hire_date" />
    </resultMap>

    <select id="getUserCount" resultType="int">
        SELECT COUNT(*)
        FROM User
        WHERE domain_id = #{domainId};
    </select>

    <select id="getUserExist" resultType="int">
        SELECT COUNT(*)
        FROM User
        WHERE domain_id = #{domainId} AND user_external_key = #{userExternalKey};
    </select>

    <select id="getUserByExternalKey" resultMap="user">
        SELECT *
        FROM User
        WHERE domain_id = #{domainId} AND user_external_key = #{userExternalKey};
    </select>

    <insert id="insertUser">
        INSERT INTO User(domain_id, account, user_name, user_external_key, authentication,
            cell_phone, email, corporation_address, hire_date)
        VALUES(#{domainId}, #{account}, #{userName}, #{userExternalKey}, #{authentication},
            #{cellPhone}, #{email}, #{corporationAddress}, #{hireDate});
    </insert>

    <update id="updateUser" parameterType="com.works.entity.UserEntity">
        UPDATE User
        SET account = #{account}, user_name = #{userName}, authentication = #{authentication}, cell_phone = #{cellPhone},
            email = #{email}, corporation_address = #{corporationAddress}, hire_date = #{hireDate}
        WHERE domain_id = #{domainId} AND user_external_key = #{userExternalKey};
    </update>

    <delete id="deleteUser">
        DELETE
        FROM User
        WHERE domain_id = #{domainId} AND user_external_key = #{userExternalKey};
    </delete>

</mapper>