<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini Works API Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!--JQuery-->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <!--custom css-->
    <link rel="stylesheet" href="/css/Documents.css?ver=20190726-7" type="text/css">
</head>
<body>
    <!-- Header(Fixed) -->
    <div class="navbar" id="header">
        <h4><img src="/img/spring-boot-logo.svg" /> Spring Boot Project - Mini Works Renewal</h4>
        <nav>
            <button type="button" class="btn btn-dark" id="loginBtn">Login</button>
            <button type="button" class="btn btn-dark" id="viewChartBtn">View Chart</button>
        </nav>
    </div>

    <!-- Sidebar(Fixed) -->
    <div id="sidebar">
        <h4 th:text="${userAPIGroup.apiGroupName}"></h4>
        <ul >
            <li th:each="apiInfo : ${userAPIGroup.apiInfoList}">
                <a style="color: white;" th:href="@{/documents/} + ${apiInfo.apiCode}" th:text="${apiInfo.apiNameKorVer}"></a>
            </li>
        </ul>
        <br/>
        <h4 th:text="${orgAPIGroup.apiGroupName}"></h4>
        <ul>
            <li th:each="apiInfo : ${orgAPIGroup.apiInfoList}">
                <a style="color: white;" th:href="@{/documents/} + ${apiInfo.apiCode}" th:text="${apiInfo.apiNameKorVer}"></a>
            </li>
        </ul>
    </div>

    <!-- Main Docuement & API Trying Tool -->
    <div id="document">

        <div id="methodAndURL">
            <span th:id="method" th:text="${apiInfo.httpMethod}"></span>
            <span th:id="URL" th:text="'http://localhost:8080' + ${apiInfo.requestURI}"></span>
        </div>

        <!-- API Document + API Trying Tool -->
        <div id="apiDocumentAndTryingTool">
            <h2 th:text="${apiInfo.apiNameKorVer}"></h2>
            <h6 th:text="${apiInfo.apiDescription}"></h6><br/>

            <script src="/javascript/makeParameterTable.js?ver=20190726-1"></script>

            <!-- Path Parameter Document -->
            <div id="documentPathParameter">
                <h5>Path Parameter</h5>
                <script th:inline="javascript">
                    $(document).ready(function() {
                        var ppfieldInfoList = /*[[ ${apiInfo.pathParameterInfoList} ]]*/ 'default';
                        var documentOutput = makeParameterTable(ppfieldInfoList, true, 'pathParameterTable');
                        $('#documentPathParameter').append(documentOutput);
                    });
                </script>
            </div>
            <!-- END Path Parameter Document -->

            <!-- Request Body Document (if Necessary) -->
            <div th:id="documentRequestBody" th:if="${apiInfo.requestBodyInfo}">
                <br/><h5>Request Body</h5>
                <script th:inline="javascript">
                    $(document).ready(function() {
                        var rqstfieldInfoList = /*[[ ${apiInfo.requestBodyInfo.fieldInfoList} ]]*/ 'default';
                        var documentOutput = makeParameterTable(rqstfieldInfoList, true, 'requestBodyTable');
                        $('#documentRequestBody').append(documentOutput);
                    });
                </script>
            </div>
            <!-- END Request Body Document (if Necessary) -->

            <!-- Response Body Document (if Necessary) -->
            <div th:id="documentResponseBody" th:if="${apiInfo.responseBodyInfo}">
                <br/><h5>Response</h5>
                <script th:inline="javascript">
                    $(document).ready(function() {
                        var rspsfieldInfoList = /*[[ ${apiInfo.responseBodyInfo.fieldInfoList} ]]*/ 'default';
                        var documentOutput = makeParameterTable(rspsfieldInfoList, false, 'responseBodyTable');
                        $('#documentResponseBody').append(documentOutput);
                    });
                </script>
            </div>
            <!-- END Response Body Document (if Necessary) -->

            <!-- API Trying Tool -->
            <br/><br/><h4>Try This API</h4>
            <div id="tryingToolBox">

                <!-- Trying : Path Parameter -->
                <div id="tryingPathParameter">
                    <h6>Path Parameters</h6>
                    <div class="form-group" id="tryingPathParameterBox">
                        <form>
                            <div class="form-group" th:each="pathParameterInfo : ${apiInfo.pathParameterInfoList}">
                                <label th:for="${pathParameterInfo.parameter}" th:text="${pathParameterInfo.parameter}"></label>
                                <input class="form-control path-parameter" th:id="${pathParameterInfo.parameter}" type="text" />
                            </div>
                        </form>
                    </div>
                </div><br/>
                <!-- END Trying : Path Parameter -->

                <!-- Trying : Request Body (if Necessary) -->
                <div th:id="tryingRequestBody" th:if="${apiInfo.requestBodyInfo}">
                    <h6>Request Body</h6>
                    <div id="requestBodyInputForm"></div>
                    <script src="/javascript/makeRequestBodyInput.js?ver=20190726-26"></script>
                    <script th:inline="javascript">
                        $(document).ready(function() {
                           var requestBodyInfo = /*[[ ${apiInfo.requestBodyInfo} ]]*/ 'default';
                           appendModel(requestBodyInfo, document.getElementById('requestBodyInputForm'));
                        });
                    </script>
                </div>
                <!-- END Trying : Request Body (if Necessary) -->

                <!-- Trying : 'Send Request' Button -->
                <button type="button" id="sendRequest" class="btn btn-dark">Send Request</button>


                <!-- Trying : Response -->
                <div>
                    <br/><h6>Response</h6>
                    <textarea id="responseBodyTextArea" readonly="readonly"></textarea>
                </div>
                <!-- END Trying : Response -->
            </div>
            <!-- END API Trying Tool -->
        </div>
        <!-- END API Document + API Trying Tool -->
    </div>
    <!-- END Main Docuement & API Trying Tool -->


    <!-- Send Request & Recieve Response -->
    <script src="/javascript/makeAjaxObject.js?ver=20190726-3"></script>
    <script th:inline="JavaScript">
        $(document).ready(function() {
            // Send Request 버튼을 클릭하여 요청을 보내는 이벤트.
            $('#sendRequest').click(function() {

                // 요청 URL과 HTTP Method 정보를 얻는다.
                var apiRequestURL = /*[[ ${apiInfo.requestURI} ]]*/ 'default';
                var httpMethod = /*[[ ${apiInfo.httpMethod} ]]*/ 'default';

                // Trying Tool의 Path Parameter 입력 부분에서 정보를 파싱하고 URL을 완성시킨다.
                $('.path-parameter').each(function(index, element) {
                    var pathParameter = element.id;
                    apiRequestURL = apiRequestURL.replace("{" + pathParameter + "}", $('#' + pathParameter).val());
                });

                // Request Body 파싱
                var parameterJSON = {};
                $('.requestParameter').each(function(index, element) {
                    parameterJSON[element.getAttribute("name")] = element.value;
                });

                // URL, HTTP Method, Request Body 데이터로 Ajax에 전달할 객체를 생성한다.
                var ajaxObject = makeAjaxObject(apiRequestURL, httpMethod, parameterJSON);

                // Ajax를 통해 요청을 전송한다.
                $.ajax(ajaxObject);
            });
        });
    </script>
    <!-- END Send Request & Recieve Response -->
</body>
</html>